.header {
  font-family: 'Cabin Condensed', sans-serif;
  font-size: 10em;
  text-align: center;
  top: .5;
  /* vertical-align: text-bottom; */
  color:whitesmoke;
  text-shadow: 3px 3px 3px rgba(177, 43, 173, 0.529);
  /* transform:rotate(-90deg); */
  min-height:30vh;
  box-sizing: border-box;
}

.subheader {
  color:darkslategray;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 2rem;
  text-align:center;
  text-shadow: .5px .5px .5px;
}

.sidebar {

}

body {
  /* background-image: linear-gradient(to top, #a7a6cb 0%, #8989ba 52%, #8989ba 100%); */
  background-image: linear-gradient(to top, #fcc5e4 0%, #fda34b 15%, #ff7882 35%, #c8699e 52%, #7046aa 71%, #0c1db8 87%, #020f75 100%);
  background-repeat: no-repeat;
  background-size: cover;
}

html {
  height: 100%;
}

img:hover {
  transform: scale(.98);
}